/clojure/*
/cpp/*
/charp/*
/erlang/*
/fsharp/*
/go/*
/haskell/*
/lua/*
/ocaml/*
/perl5/*
/scala/*
/swift/*
/ecmascript/*
/elm/*
/lfe/*
/lisp/*
/elisp/*
/php/*
/plsql/*
/racket/*
/rust/*
/scheme/*
.DS_Store
